<div id=color-chart class="mat-elevation-z8">
    <div class=fields>
    <mat-form-field class="field" id="caxis">
        <mat-select id="caxis-select" placeholder="Float parameter" matTooltip="select parameter"
         [(value)]="colorLabel" (selectionChange)="cLabelChange($event.value)">
          <mat-option *ngFor="let param of statParams" [value]="param.value">
            {{param.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select class="field" id="colorscale-select"  placeholder="Colorscale" matTooltip="select colorscale to use. from cmocean library."
        [(value)]="cmapName" (selectionChange)="colorscaleChange($event.value)">
         <mat-option *ngFor="let cmap of colorscaleSelections" [value]="cmap.value">
           {{cmap.viewValue}}
         </mat-option>
       </mat-select>
    </mat-form-field>
    </div>
    <h5 align="center">{{chartTitle}}</h5>
    <plotly-plot *ngIf="graph" class='chart'
    [data]="graph.data"
    [layout]="graph.layout"
    [updateOnlyWithRevision]="graph.updateOnlyWithRevision"
    [revision]="revision"
    (plotly_click)="onSelect($event.points[0])">
    </plotly-plot>
</div>