<mat-form-field id="view-projection">
  <mat-select id="view-projection-select"  matTooltip="loads new page with selected map projection"
   [(value)]="proj" (selectionChange)="mapProjChange($event.value)">
    <mat-option *ngFor="let projection of projections" [value]="projection.value">
      {{projection.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field id="view-forcast">
<mat-select id="view-forcast-select"  matTooltip="select forcast day"
[(value)]="forcastDays" (selectionChange)="forcastChange($event.value)">
 <mat-option *ngFor="let forcast of forcasts" [value]="forcast.value">
   {{forcast.viewValue}}
 </mat-option>
</mat-select>
</mat-form-field>
