
<div id=prof-table class="mat-elevation-z8">
  <mat-form-field id=form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table matTableExporter [dataSource]="dataSource"  #exporter="matTableExporter" matSort>
    <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Link to GDAC data </th>
        <td mat-cell *matCellDef="let element">  <a href={{element.nc_url}}>{{element._id}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="dac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dac </th>
        <td mat-cell *matCellDef="let element"> {{element.dac}} </td>
    </ng-container>

    <ng-container matColumnDef="float_measurements">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parameters </th>
        <td mat-cell *matCellDef="let element"> {{element.formatted_station_parameters}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date reported </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="cycle_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cycle number </th>
        <td mat-cell *matCellDef="let element"> {{element.cycle_number}} </td>
    </ng-container>

    <ng-container matColumnDef="DATA_MODE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Core Data Mode </th>
        <td mat-cell *matCellDef="let element"> {{element.DATA_MODE}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lat_str">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lat </th>
        <td mat-cell *matCellDef="let element"> {{element.lat_str}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lon_str">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lon </th>
        <td mat-cell *matCellDef="let element"> {{element.lon_str}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="metaColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: metaColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Argovis'}})">Excel</button>
  <button mat-raised-button (click)="exporter.exportTable('csv')">Csv</button>
  <button mat-raised-button (click)="exporter.exportTable('json')">Json</button>
  <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button>
</div>

  