<section class="mat-typography">Selection Date Range:</section>
<input
       id="daterange-picker"
       matInput
       type="text" 
       placeholder="Date Range:"
       ngxDaterangepickerMd 
       [(ngModel)]="selected" 
       class="form-control"
       matTooltip="determines date range for selections" 
       name="daterangeInput"
       [ranges]="options.ranges"
       [timepicker]="true"
       opens="right"
       drops="down"
       [showCustomRangeLabel]="true"
       [alwaysShowCalendars]="true"
       (change)="selectedDate($event)" />
