<mat-grid-list id=chart-and-window cols="5" gutterSize="0px" rowHeight="300px">
    <mat-grid-tile
    [colspan]="3"
    [rowspan] ="1">
        <app-color-chart axis="topChart"></app-color-chart>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="2"
    [rowspan]="2">
        <app-platform-window></app-platform-window>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="3"
    [rowspan] ="1">
        <app-color-chart axis="bottomChart"></app-color-chart>
    </mat-grid-tile>
</mat-grid-list>
<app-table></app-table>