<h5 class="disclaimer">Beta Product: Still in development!</h5>
<app-platform-window></app-platform-window>
<mat-grid-list id=chart-and-window cols="7" gutterSize="0px" rowHeight="300px">
    <mat-grid-tile id=color-chart
    [colspan]="3"
    [rowspan] ="1">
        <app-color-chart axis="topChart"></app-color-chart>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="2"
    [rowspan]="2">
        <app-globe-scatter></app-globe-scatter>
    </mat-grid-tile>
    <mat-grid-tile id=color-chart
    [colspan]="3"
    [rowspan] ="1">
        <app-color-chart axis="bottomChart"></app-color-chart>
    </mat-grid-tile>
</mat-grid-list>
<app-table></app-table>