<h5 class="disclaimer">Beta Product: Still in development!</h5>
<app-platform-window></app-platform-window>
<mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="Color charts">
        <mat-grid-list id=color-charts cols="5" gutterSize="0px" rowHeight="300px">
            <mat-grid-tile id=color-chart
            [colspan]="3"
            [rowspan] ="1">
                <app-color-chart axis="topChart"></app-color-chart>
            </mat-grid-tile>
            <mat-grid-tile
            [colspan]="2"
            [rowspan]="2">
                <app-globe-scatter id="globe-scatter-chart"></app-globe-scatter>
            </mat-grid-tile>
            <mat-grid-tile id=color-chart
            [colspan]="3"
            [rowspan] ="1">
                <app-color-chart axis="bottomChart"></app-color-chart>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Pres vs X charts">
        <mat-grid-list id=pvx-charts cols="3" gutterSize="0px" rowHeight="400px">
            <mat-grid-tile id=color-chart
            [colspan]="1"
            [rowspan] ="1">
                <app-pvx-chart axis="leftChart"></app-pvx-chart>
            </mat-grid-tile>
            <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
                <app-pvx-chart axis="middleChart" id="middleChart"></app-pvx-chart>
            </mat-grid-tile>
            <mat-grid-tile id=color-chart
            [colspan]="1"
            [rowspan] ="1">
                <app-pvx-chart axis="rightChart"></app-pvx-chart>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>
<app-table></app-table>