<div class="ar-sidebar-nav">
  <app-db-overview></app-db-overview>
  <button mat-icon-button matTooltip="clear all profiles and shapes from map" (click)="clear_profiles()" >
    <mat-icon aria-label="clear profile and shape layers">layers_clear</mat-icon>
  </button>
  <button mat-icon-button matTooltip="reset map to starting position and markers." (click)="resetToStart()" >
    <mat-icon aria-label="reset to starting view">restore_page</mat-icon>
  </button>
  <mat-slide-toggle 
  id="three-day-toggle" 
  matTooltip="toggle on query global profiles within hour range below"
  color="accent" [checked]="displayGlobally"
  (change)="display_global_change($event.checked)">Query profiles globally
  </mat-slide-toggle>
  <app-ar-hour-range ></app-ar-hour-range>
  <app-ar-display ></app-ar-display>
  <div><b>Display options:</b></div>
  <mat-slide-toggle matTooltip="toggle on to include delayed mode profiles in queries"
                   color="accent" [checked]="includeRT"
                   (change)="realtime_changed($event.checked)">Include realtime
  </mat-slide-toggle>
  <mat-slide-toggle matTooltip="toggle on to show only BGC profiles"
                    color="accent" [checked]="onlyBGC"
                    (change)="bgc_change($event.checked)">Show only BGC
  </mat-slide-toggle>
  <mat-slide-toggle matTooltip="toggle on to show only Deep profiles"
                    color="accent" [checked]="onlyDeep"
                    (change)="deep_change($event.checked)">Show only Deep
  </mat-slide-toggle>
</div>
