
<section class="mat-typography"><p>Month Selected:</p></section>
<button mat-icon-button matTooltip="-1 month" (click)="incrementMonth(-1)"  id="minusOne">
  <mat-icon class="icon" aria-label="increment month">exposure_neg_1</mat-icon>
</button>
<mat-form-field id="dateInput">
    <input matInput [matDatepicker]="dp"
     placeholder="Month and Year"
     [formControl]="date"
     (dateChange)="displayGridMonthChanged('change', $event)"
     matTooltip="select month and year of grid data on display" 
     [min]="minDate" [max]="maxDate" >
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker 
                    #dp
                    startView="multi-year"
                    (dateChange)="displayGridMonthChanged('change', $event)"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
<button mat-icon-button matTooltip="+1 month" (click)="incrementMonth(1)"  id="plusOne">
  <mat-icon class="icon" aria-label="increment month">exposure_plus_1</mat-icon>
</button>