#sidenav-container {
    height: 900px;
  }
  
.side-menu {
  background-color: #F5F5F5;
  width: 250px;
  height: 1100px;
}

/* Top left text */
#top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 200;
}

.nav-link {
  color:  #F5F5F5
}

#top-toolbar {
  height: 35px;
}