#slider {
    position: relative;
    height: 150px;
    margin: 0px;
}
    
#slider-div {
    height: 350px;
    margin: 0px;
    }
#input-div {
        height: 350px;
        margin: 10px;
        width: 100%;
        }

.slider-container{
    display:flex;
    height: 390px;
}

.pressure-form {
    width: 90%;
    height: 390px;
  }
  
.pressure-full-width, .pressure-full-width-bot {
    width: 100%;
  }

.pressure-input {
    width: 100%;
}

.pressure-full-width-bot {
    position:relative;
    margin-top:220px;
  }

.noUi-vertical {
    margin: 10px;
    height: 350px;
  }

.noUi-connect {
    background: #673ab7;
  }

#minPres, #maxPres {
    margin:5px;
    font-size: 14px;
    line-height: 20px;
    width: 95%;
    }

    