#slider {
    position: relative;
    height: 150px;
    margin: 30px;
    }
    
#slider-div {
    height: 350px;
    margin: 30px;
    }
#input-div {
        height: 350px;
        margin: 10px;
        }

.slider-container{
    display:flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

#minPres, #maxPres {
    font-size: 14px;
    line-height: 20px;
    width: 75px;
    }
    
    #minPresLabel {
    margin-top: 0px;
    }
    
    #maxPresLabel {
    margin-top: 0px;
    width: 150px;
    }