<p>Pressure range (depth):</p>
<div class="slider-container">
  <nouislider id='slider' [(ngModel)]="myRange" [config]="config"></nouislider>
    <div class='input-div'>
      <form class="pressure-form">
        <mat-form-field class="pressure-full-width">
          <input matInput placeholder="min pres:" value="0" type="number" min="0" max="6000" id='minPres'>
        </mat-form-field>
          <mat-form-field class="pressure-full-width-bot">
            <input matInput placeholder="max pres:" value="2000" type="number" min="0" max="6000" id='maxPres'>
          </mat-form-field>
          </form>
    </div>
</div>
