<p>Pressure range (depth):</p>
<div class="slider-container">
  <nouislider id='slider' [config]="config" [(ngModel)]="sliderRange" (ngModelChange)="onChange($event)"></nouislider>
    <div class='input-div'>
      <form class="pressure-form">
        <mat-form-field class="pressure-full-width">
          <input matInput class="pressure-input" placeholder="min pres:" value={{sliderRange[0]}} type="number" min="0" max="6000" id='minPres' (change)="minValuechange($event.target.value)">
        </mat-form-field>
          <mat-form-field class="pressure-full-width-bot">
            <input matInput class="pressure-input" placeholder="max pres:" value={{sliderRange[1]}} type="number" min="0" max="6000" id='maxPres' (change)="maxValuechange($event.target.value)">
          </mat-form-field>
          </form>
    </div>
</div>
