.sidebar-nav {
    height: 865px;
    padding: 5px;
}

#three-day-toggle {
    font-size: 14px;
  }

#projectionForm {
    margin: 10px;
    width: 80%;
}

.platform-form {
    width:100%;
}

.date-form {
    width:100%;
}