<mat-toolbar id="top-toolbar" color="primary">
  <button mat-icon-button matTooltip="go to argovis profile page (home)" (click)="go_to_home()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button matTooltip="go to API documentation" (click)="go_to_api_docs()">
    <mat-icon>api</mat-icon>
  </button>
  <button class="nav-link" 
    mat-button 
    matTooltip="we have expanded to include several new modules!"
    [matMenuTriggerFor]="moduleMenu">Choose viewer</button>
    <mat-menu #moduleMenu="matMenu">
    <a mat-menu-item *ngFor="let module of avModules" 
      href={{module.link}}
      routerLinkActive="active"
      matTooltip={{module.tooltip}}>{{module.viewValue}}
    </a>
 </mat-menu>
  <a class="nav-link"
     matTooltip="link to about page"
     target='_blank'
     rel="noopener"
     href="https://argovis.colorado.edu/docs/Argovis_About.html">
     About Argovis</a>
  <a class="nav-link"
    matTooltip="Learn more about the API"
    target='_blank'
    rel="noopener"
    href="https://argovis.colorado.edu/docs/Argovis_API.html">
    APIs</a>
  <p class="current-module">{{currentModule}}</p>
  <span class="fill-space"></span>
  <img id='logo' src="assets/img/Argovis_logo-1.png">
</mat-toolbar>