<div class="tc-sidebar-nav">
    <app-db-overview></app-db-overview>
    <button mat-icon-button matTooltip="clear all profiles and shapes from map" (click)="clear_profiles()" >
      <mat-icon aria-label="clear profile and shape layers">layers_clear</mat-icon>
    </button>
    <button mat-icon-button matTooltip="reset map to starting position and markers." (click)="reset_to_start()" >
      <mat-icon aria-label="reset to starting view">restore_page</mat-icon>
    </button>
    <div><b>Display options:</b></div>
    <mat-slide-toggle matTooltip="toggle off to include only delayed mode profiles in queries"
                     color="accent" [checked]="includeRT"
                     (change)="realtime_changed($event.checked)">Include realtime
    </mat-slide-toggle>
    <mat-slide-toggle matTooltip="toggle on to show only BGC profiles"
                      color="accent" [checked]="onlyBGC"
                      (change)="bgc_change($event.checked)">Show only BGC
    </mat-slide-toggle>
    <mat-slide-toggle matTooltip="toggle on to show only Deep profiles"
                      color="accent" [checked]="onlyDeep"
                      (change)="deep_change($event.checked)">Show only Deep
    </mat-slide-toggle>
    <app-storm-select></app-storm-select>
    <app-tc-hour-range></app-tc-hour-range>
    <mat-slide-toggle matTooltip="toggle on to display storms in date range (otherwise use storm-year selector)"
      color="accent" [checked]="globalStorms"
      (change)="global_storms_change($event.checked)">Display storms globally
    </mat-slide-toggle>
    <app-tc-daterange ></app-tc-daterange>
  </div>