<div *ngIf="!displayGridParam">
<mat-slide-toggle matTooltip="toggle on to subtract another grid"
color="accent" [checked]="compareGrid"
(change)="compareGridToggle($event.checked)">Compare Grid
</mat-slide-toggle>
<section class="mat-typography"><p>Grid Subtrahend Selected:</p></section>
<div class='input-div'>
    <mat-form-field>
      <mat-label>Grid Subtrahend</mat-label>
      <mat-select [(value)]="grid" [disabled]="!compareGrid" (selectionChange)="selChange($event.value)">
          <mat-option *ngFor="let grid of availableGrids" [(value)]="grid.grid">
            {{grid.viewValue}}
          </mat-option>
      </mat-select>
    </mat-form-field>
</div>
</div>  