<section class="mat-typography"><p>Grid Subtrahend Selected:</p></section>
<mat-slide-toggle matTooltip="toggle on to subtract another grid"
color="accent" [checked]="compareGrid"
(change)="compareGridToggle($event)">Compare Grid
</mat-slide-toggle>
<div class='input-div'>
    <mat-form-field>
        <mat-label>Grid Subtrahend</mat-label>
        <mat-select [(value)]="grid" [disabled]="!compareGrid" (selectionChange)="selChange($event)">
          <mat-option [(value)]="grid.value" *ngFor="let grid of availableGrids">
            {{grid.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
