<h1  id="row" mat-dialog-title>AR selection</h1>
<div mat-dialog-content>
  <p  id="row">Pick a date and time</p>
  <div id="row">
  <button mat-icon-button matTooltip="-1 day" (click)="incrementDay(-1)"  id="minusOne">-1</button>
  <mat-form-field id="dateInput">
    <input matInput 
    matTooltip="Date of AR" 
    [matDatepicker]="picker"
    [min]="MIN_DATE"
    [max]="MAX_DATE"
    [value]="arDate.value"
    placeholder="AR date"
    (dateChange)="dateChanged($event.value)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-icon-button matTooltip="+1 day" (click)="incrementDay(1)"  id="plusOne">+1</button>
</div>
<div id="row">
  <button mat-icon-button matTooltip="-3 hours" (click)="incrementHour(-3)"  id="minusThree">-3</button>
  <mat-form-field id="timeInput">
    <mat-select placeholder="Choose Hour" matTooltip="Time in three hour incrments"
     [(value)]="hour" (selectionChange)="timeChange($event.value)">
      <mat-option *ngFor="let hour of hours" [value]="hour.value">
        {{hour.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button matTooltip="+3 hours" (click)="incrementHour(3)"  id="plusThree">+3</button>
</div>
<div mat-dialog-actions  id="row">
  <button mat-button (click)="onNoClick()">Go back</button>
  <button mat-button (click)="setArShapesAndDate()">Chart AR shapes</button>
</div>
