<section class="mat-typography"><p>Date Selected:</p></section>
<button mat-icon-button matTooltip={{decrementMessage}} (click)="increment(-1)"  id="minIncrement">
  <p>&ndash;</p>
</button>
<mat-form-field id="dateInput">
    <input matInput [matDatepicker]="dp"
     placeholder="Date"
     [formControl]="dateForm"
     (dateChange)="displayDateChanged($event.value)"
     matTooltip="select date of grid data on display" 
     [min]="minDate" [max]="maxDate" >
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker 
                    #dp
                    startView="multi-year"
                    (dateChange)="displayDateChanged($event.value)"
                    panelClass="date-picker">
    </mat-datepicker>
  </mat-form-field>
<button mat-icon-button matTooltip={{incrementMessage}} (click)="increment(1)"  id="plusIncrement">
  +
</button>
