<section class="mat-typography"><p>Grid Selected:</p></section>
<div class="slider-container">
  <div class='input-div'>
    <mat-form-field>
      <mat-label>Grid</mat-label>
        <mat-select [(value)]="grid" (selectionChange)="selChange($event)">
            <mat-optgroup flex-offset="5" *ngFor="let producerGroup of availableGrids[0].producers" [label]="producerGroup.producer">
              <mat-option *ngFor="let grid of producerGroup.grids" [(value)]="grid.value">
                {{grid.viewValue}}
              </mat-option>
          </mat-optgroup>
        </mat-select>
    </mat-form-field>
  </div>
</div>