
<section *ngIf="!paramMode" class="mat-typography"><p>Earth Property:</p></section>
<div *ngIf="!paramMode" class='input-div'>
  <mat-form-field>
    <mat-label>Property</mat-label>
      <mat-select [(value)]="selectedProperty" (selectionChange)="changeProperty($event.value)">
          <mat-option *ngFor="let property of availableProperties"  [(value)]="property.param">
            {{property.viewValue}}
          </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<section *ngIf="!paramMode" class="mat-typography"><p>Grid Selected:</p></section>
<div *ngIf="!paramMode" class='input-div'>
  <mat-form-field>
    <mat-label>Grid</mat-label>
      <mat-select [(value)]="gridName" (selectionChange)="selChange($event.value)">
          <mat-option *ngFor="let grid of availableGrids" [(value)]="grid.grid">
            {{grid.viewValue}}
          </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<section *ngIf="paramMode" class="mat-typography"><p>Grid Param Selected:</p></section>
<div *ngIf="paramMode" class='input-div'>
  <mat-form-field>
    <mat-label>Grid</mat-label>
    <mat-select [(ngModel)]="gridName" (selectionChange)="selChange($event.value)">
      <mat-option *ngFor="let grid of availableGrids" [(value)]="grid.grid">
        {{grid.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grid Params</mat-label>
    <mat-select [(ngModel)]="gridParam" (selectionChange)="gridParamSelected($event.value)" >
      <mat-option *ngFor="let modelParam of gridParams" [(value)]="modelParam.modelParamName">
          {{modelParam.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>