<h1  id="row" mat-dialog-title>Global Tropical Cyclone Selection:</h1>
<div id="dialog-form" mat-dialog-content>
  <p  id="row">Pick a start/end date and time</p>
<div id="row">
  <button mat-icon-button matTooltip="-1 day" (click)="increment_day(-1, true)"  id="minusOne">-1</button>
  <mat-form-field id="dateInput">
    <input matInput 
    matTooltip="Date of TC" 
    [matDatepicker]="startPicker"
    [min]="MIN_DATE"
    [max]="MAX_DATE"
    [value]="formStartDate.value"
    placeholder="TC start date"
    (dateChange)="calendar_date_changed($event.value, true)">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  <button mat-icon-button matTooltip="+1 day" (click)="increment_day(1, true)"  id="plusOne">+1</button>
</div>
<div id="row">
  <button mat-icon-button matTooltip="-6 hours" (click)="increment_hour(-6, true)"  id="minusSix">-6</button>
  <mat-form-field id="timeInput">
    <mat-select placeholder="Choose Hour" matTooltip="Time in six hour incrments"
     [(value)]="startHour" (selectionChange)="time_changed($event.value, true)">
      <mat-option *ngFor="let hour of hours" [value]="hour.value">
        {{hour.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button matTooltip="+6 hours" (click)="increment_hour(6, true)"  id="plusSix">+6</button>
</div>
<div id="row">
    <button mat-icon-button matTooltip="-1 day" (click)="increment_day(-1, true)"  id="minusOne">-1</button>
    <mat-form-field id="dateInput">
      <input matInput 
      matTooltip="Date of TC" 
      [matDatepicker]="endPicker"
      [min]="MIN_DATE"
      [max]="MAX_DATE"
      [value]="formEndDate.value"
      placeholder="TC end date"
      (dateChange)="calendar_date_changed($event.value, false)">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <button mat-icon-button matTooltip="+1 day" (click)="increment_day(1, false)"  id="plusOne">+1</button>
  </div>
  <div id="row">
    <button mat-icon-button matTooltip="-6 hours" (click)="increment_hour(-6, false)"  id="minusSix">-6</button>
    <mat-form-field id="timeInput">
      <mat-select placeholder="Choose Hour" matTooltip="Time in six hour incrments"
       [(value)]="endHour" (selectionChange)="time_changed($event.value, false)">
        <mat-option *ngFor="let hour of hours" [value]="hour.value">
          {{hour.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button matTooltip="+6 hours" (click)="increment_hour(6, false)"  id="plusSix">+6</button>
  </div>
