.map {
  height: 100%;
  padding: 0;
  display: block;
}

#map_canvas {
  margin: 0;
  padding: 0;
  height: 400px;
  border: 1px solid #ccc;
  display: block;
}

.left-half {
  background-color: #F5F5F5;
  position: absolute;
  left: 0px;
  width: 25%;
  height: 100%;
  overflow:auto;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 75%;
  height: 100%;
  overflow:auto;
  display: block;
}

.tabset, .tab-content, .tab-pane, .tabbable {
  height:100%;
}
