<div *ngIf="platMeta" id=platform-window class="mat-elevation-z8">
<mat-grid-list id=platform-grid cols="1" gutterSize="0px" rowHeight="50px">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"><h4>Platform Number: {{platMeta.platform_number}}</h4>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan] ="1"><p class="thick">Dac: {{platMeta.dac}}</p>
    </mat-grid-tile>
        <mat-grid-tile
        [colspan]="1"
        [rowspan] ="1"><p>Most recent update: <br> {{platMeta.most_recent_date_added}}</p>
    </mat-grid-tile>
        <mat-grid-tile
        [colspan]="1"
        [rowspan] ="1"><p>Number of profiles: {{platMeta.number_of_profiles}}</p>
    </mat-grid-tile>
        <mat-grid-tile
        [colspan]="1"
        [rowspan] ="1"><p>Positioning System: {{platMeta.POSITIONING_SYSTEM}}</p>
    </mat-grid-tile>
        <mat-grid-tile
        [colspan]="1"
        [rowspan] ="1"><p>PI: {{platMeta.PI_NAME}}</p>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan] ="1"><a href={{platMeta.jcommopsLink}}>link to JCOMMOPS</a>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan] ="1"><a href={{platMeta.fleetMonitoringLink}}>link to Fleet Monitor</a>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="1"
    [rowspan] ="1"><p *ngIf="statParamsList">Station Parameters: {{statParamsList}}</p>
</mat-grid-tile>
</mat-grid-list>
</div>
