<div class="sidebar-nav">
  <mat-form-field id="projectionForm">
    <mat-select placeholder="Choose Projection" matTooltip="loads new page with selected map projection" [(value)]="proj" (selectionChange)="mapProjChange($event.value)">
      <mat-option *ngFor="let projection of projections" [value]="projection.value">
        {{projection.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-daterangepicker></app-daterangepicker>
  <mat-slide-toggle matTooltip="toggle on to include delayed mode profiles in queries" color="accent" [checked]="checked" (change)="realtimeChange($event)">Include realtime</mat-slide-toggle>
  <app-double-slider></app-double-slider>
  <mat-form-field class="platform-form">
    <input matInput matTooltip="input platform number, and map will display its profile markers. hint: try 4902911" class="show-platform-input" placeholder="Platform Number:" type="string" id='platformInput' (keyup)="displayPlatformInputChanged($event.target.value)">
  </mat-form-field>
  <button mat-raised-button matTooltip="clear all profiles and shapes from map" color="accent" (click)="clearProfiles()" >Clear Profiles</button>
  <button mat-raised-button matTooltip="reset map to starting position and markers." color="accent" (click)="resetToStart()" >Reset to Start</button>
</div>
