.minInput {
    float: left;
    position: relative;
}

.middleColorbar {
    width: 100px;
    display:inline-block;
    position: relative;
}

.maxInput {
    float: right;
    position: relative;
}

.input-div {
    display:inline-block;
}

mat-form-field {
    margin-right: 0px;
    display:inline-block;
    width: 60px;
    padding: 5px;
  }