<div class="sidebar-nav-grid">
<app-month-picker class="date-form" [hidden]="paramMode"></app-month-picker>
<app-pres-slider class="pres-form"></app-pres-slider>
<app-grid-color-picker></app-grid-color-picker>
<app-grid-picker class="grid-form" [paramMode]="paramMode"></app-grid-picker>
<button mat-icon-button matTooltip="clear all shapes from map" (click)="clearGrids()" >
    <mat-icon aria-label="clear grid layers">layers_clear</mat-icon>
  </button>
  <button mat-icon-button matTooltip="reset map to starting position and settings." (click)="resetToStart()" >
    <mat-icon aria-label="reset to starting view">restore_page</mat-icon>
  </button>
  <mat-slide-toggle matTooltip="toggle on to display grid globally"
                   color="accent" [checked]="interpolateBool"
                   (change)="interpolateBoolToggle($event.checked)">Interpolate Grid
  </mat-slide-toggle>
  <mat-slide-toggle matTooltip="toggle on to display grid parameters"
  color="accent" [checked]="paramMode"
  (change)="paramModeToggle($event.checked)">Grid Parameters
</mat-slide-toggle>
  <app-grid-compare-picker class="grid-picker-form"></app-grid-compare-picker>
</div>
<a class="nav-link"
href="http://www.argo.ucsd.edu/Gridded_Argovis.html"
routerLinkActive="active"
matTooltip="link to old static gridded page">
Link to old gridded Argo climatology</a>