<div class="sidebar-nav-grid">
<app-month-picker class="date-form"></app-month-picker>
<app-pres-slider class="pres-form"></app-pres-slider>
<app-grid-picker class="grid-form"></app-grid-picker>
<button mat-icon-button matTooltip="clear all shapes from map" (click)="clearGrids()" >
    <mat-icon aria-label="clear grid layers">layers_clear</mat-icon>
  </button>
  <button mat-icon-button matTooltip="reset map to starting position and settings." (click)="resetToStart()" >
    <mat-icon aria-label="reset to starting view">restore_page</mat-icon>
  </button>
  <mat-slide-toggle matTooltip="toggle on to display grid globally"
                   color="accent" [checked]="globalGrid"
                   (change)="globalGridToggle($event)">Global Grid
  </mat-slide-toggle>
  <app-grid-compare-picker class="grid-picker-form"></app-grid-compare-picker>
</div>
