<section class="mat-typography"><p>Pressure level [dbar]:</p></section>
<div class="slider-container">
  <div class='input-div'>
      <button mat-icon-button matTooltip="previous level" (click)="incrementLevel(-1)"  id="minusOne">
        <p>&ndash;</p>
        </button>
    <mat-form-field *ngIf='presLevels' id="presInput">
        <mat-label>Pressure Level</mat-label>
        <mat-select [(value)]="presLevel" (selectionChange)="selChange($event.value)">
          <mat-option [(value)]="pres.value" *ngFor="let pres of presLevelsDisplay">
            {{pres.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button matTooltip="next level" (click)="incrementLevel(+1)"  id="plusOne">
          +
        </button>
    </div>
</div>