@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-control-coordinates {
  background-color:#D8D8D8;
  background-color:rgba(255,255,255,1);
  cursor:pointer
 }
 .leaflet-control-coordinates,.leaflet-control-coordinates .uiElement input {
  border-radius:5px
 }
 .leaflet-control-coordinates .uiElement {
  margin:4px;
  color:rgba(0,0,0,1);
 }
 .leaflet-control-coordinates .uiElement .labelFirst {
  margin-right:4px
 }
 .leaflet-control-coordinates .uiHidden {
  display:none
 }

 .leaflet-control-coordinates .uiElement.label {
  color:rgba(0,0,0,1);
  font-weight:inherit;
  font-size:inherit;
  padding:0;
  display:inherit
 }

 .tabset, .tab-content, .tab-pane, .tabbable {
  height:100%;
}

.mat-tab-body-wrapper {
  height:100%;
}

.noUi-vertical {
  margin: 10px;
  height: 350px;
}