<div id="map" class="map"></div>
<div id="mouse-position"></div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>
<div>
    <label>View projection:</label>
    <select id="view-projection">
      <option value="EPSG:3857">Spherical Mercator (EPSG:3857)</option>
      <option value="EPSG:4326">Plate Carr&eacute;e WGS 84 (EPSG:4326)</option>
      <option value="ESRI:54009">Mollweide (ESRI:54009)</option>
      <option value="EPSG:3413">NSIDC Polar Stereographic North (EPSG:3413)</option>
      <option value="EPSG:3031">Southern Stereographic (EPSG:3031)</option>
    </select>
  </div>
